* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 55px;
  opacity: 0.95;
  z-index: 1000;
}
.logo {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.logo a {
  text-decoration: none;
  color: #283325;
}

.logo a:hover {
  cursor: default;
  opacity: 0.9;
}

.nav-links a {
  margin-left: 60px;
  text-decoration: none;
  color: #222;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.9;
  cursor: default;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin: 50px 0px 0px;
  background: white;
  height: 50vh;
  overflow: hidden;
  border-radius: 40px;
}

.hero-content {
  color: rgb(246, 246, 246);
  z-index: 2;
  padding: 80px;
  margin-bottom: -5rem;
}

.hero:hover .hero-image {
  transform: scale(1.005);
}

.hero-content h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 700;
  opacity: 0.8;
}

.hero-content p {
  margin: 20px 0;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.8;
}

.cta-button {
  padding: 14px 24px;
  font-size: 1rem;
  background: #193190;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.cta-button i {
  padding-left: 0.3em;
}
.cta-button:hover {
  transform: scale(1.05);
  background: #000000;
  cursor: pointer;
}

.hero-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.3s ease;
}

.hero-image img {
  height: 100%;
  width: 100%;
}

.section {
  background-color: white;
  padding: 50px 40px 20px;
}

.about-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 60px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 40px;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.about-section p {
  font-size: 0.9rem;
  width: 90%;
  font-weight: 600;
}

.about-section .about-features {
  display: flex;
  justify-content: space-between;
  width: 90%;
  text-align: center;
}

.about-features .feature-card {
  position: relative;
  background-color: white;
  border-radius: 40px;
  padding: 30px;
  width: 30%;
  transition: opacity 0.3 ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.feature-card h3 {
  font-size: 1rem;
}

.feature-card p {
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}

.feature-card:hover {
  opacity: 1;
  cursor: default;
} 

.stories-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  overflow: hidden;
  position: relative;
  padding: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
}

.stories-section-head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 20px;
  gap: 30px;
}

.stories-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.2em;
  width: 80%;
}

.stories-cta {
  font-weight: 600;
  font-size: 0.9rem;
  width: 80%;
}

.cta {
  font-size: 0.9rem;
  font-weight: 500;
  color: #383838;
  text-decoration: none; 
}

.regular-button {
  padding: 14px 24px;
  margin-top: 0.6em;
  font-size: 1rem;
  background: #595959;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.regular-button:hover {
  transform: scale(1.05);
  background: #000000;
  cursor: pointer;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  width: 70%;
  gap: 20px;
  overflow: hidden;
  align-items: center; /* centers vertically */
}

.story-card {
  background-image: url('resources/paper.jpg');
  background-repeat: no-repeat;   /* prevent tiling */
  background-position: center;    /* center the image */
  background-size: cover;         /* scale to fill */
  height: 320px; /* or whatever you prefer, like 280px, 250px, etc. */
  text-align: left;
  position: relative;
  overflow: hidden;
}

.story-card .card-img-div {
  border-radius: 0px;
  height: 320px;
  width: 100%;
  transition: transform 0.5s ease;
}

.story-card:active .card-img-div {
  transform: translate(-280px);
}

.story-card h3 {
  font-size: 1rem;
  position: absolute;
}
.story-card .story {
  font-size: 0.8rem;
  font-weight: 600;
  position: absolute;
  margin-top: 40px;
}

.story-card h3, .story-card .story {
  padding: 30px 40px;
}

.story-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  margin-top: -60px;
  transition: transform 0.3s ease;
}

.story-card:hover img {
  transform: scale(1.02);
  cursor: pointer;  
}

.story-card.more {
  background: #fcfcfd;
  transition: background-color 0.3s ease;
}

.more-story {
  font-size: 0.8rem;
  font-weight: 600;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  transition: transform 0.3s ease;
}

.more-story i {
  font-size: 3em;
}
.italic {
  font-style: italic;
}

.story-card.more:hover {
  background-color: #2e2e2e;
  color: white;
}

.story-card.more:hover .more-story {
  transform: scale(1.05);
  cursor: pointer;
}

.products-section {
  background-color: white;
  text-align: center;
  overflow: visible;
  position: relative;
  padding: 20px 40px 30px;
}

.products-section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.products-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.view-all a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.view-all i {
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.view-all:hover {
  text-decoration: underline;
}

.products {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.product-card {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 40px;
  height: 50vh;
  width: 20vw;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card-img-div {
  position: relative;
  border-radius: 40px;
  height: 50vh;
  width: 20vw;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.product-card h3 {
  font-size: 1rem;
  position: absolute;
  padding: 20px;
}

.product-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  transform: scale(1.3);
}

.product-card:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.product-card:hover .card-img-div {
  transform: translateY(60px);
}

.newsletter-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  overflow: hidden;
  position: relative;
  padding: 40px;
  display: flex;
  border-radius: 40px;
}

.newsletter-section-head {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  color: black;
  z-index: 3;
  border-radius: 30px;
}

.newsletter-section-head h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-style: italic;
}

.newsletter-section-head p {
  font-weight: 600;
  font-size: 0.9rem;
}

.newsletter-section img {
  position: absolute;
  inset: 0;
  margin-left: 43%;
  width: 50%;
  margin-top: -100px;
  transform: rotate(5deg);
  transition: transform 0.5s ease;
}

.newsletter-section:hover img {
  transform: scale(1.05);
}

footer {
  text-align: center;
  color: #444444;
  background: #ededed;
  padding: 8px;
  font-size: 0.7rem;
  font-weight: light;
  margin-top: 50px;
}

@media (max-width: 768px) {
*{
    font-size: smaller;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; /*changed*/
  background: #f2f2f2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 45px; /*changed*/
  opacity: 0.95;
  z-index: 1000;
}

.logo {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.logo a {
  text-decoration: none;
  color: #283325;
}

.logo a:hover {
  cursor: default;
  opacity: 0.9;
}

.nav-links a {
  margin-left: 50px; /*changed*/
  text-decoration: none;
  color: #222;
  font-size: 0.8rem;
  font-weight: 500;
}

.nav-links a:hover {
  opacity: 0.9;
  cursor: default;
}

/* Hero Section */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center; /*changed*/
  margin: 40px 0px 0px;
  background: white;
  height: 50vh;
  overflow: hidden;
  border-radius: 40px;
}

.hero-content {
  color: rgb(246, 246, 246);
  z-index: 2;
  padding: 50px; /*changed*/
  margin-bottom: -5rem;
}

.hero:hover .hero-image {
  transform: scale(1.005);
}

.hero-content h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 700;
  opacity: 0.8;
}

.hero-content p {
  margin: 20px 0;
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.8;
}

.cta-button {
  padding: 14px 24px;
  font-size: 1rem;
  background: #193190;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.cta-button i {
  padding-left: 0.3em;
}
.cta-button:hover {
  transform: scale(1.05);
  background: #000000;
  cursor: pointer;
}

.hero-image {
  position: absolute;
  height: 100%; /*changed*/
  z-index: 1;
  transition: transform 0.3s ease;
}

.hero-image img {
  height: 100%;
  width: 100%;
  object-fit: cover; /*changed*/
}

.section {
  background-color: white;
  padding: 40px 30px 20px; /*changed*/
}

.about-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 60px 30px; /*changed*/
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border-radius: 40px;
}

.about-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.about-section p {
  font-size: 0.9rem;
  width: 90%;
  font-weight: 600;
}

.about-section .about-features {
  display: flex;
  flex-direction: column; /*changed*/
  justify-content: space-between;
  gap: 20px; /*changed*/
  width: 90%;
  text-align: center;
}

.about-features .feature-card {
  position: relative;
  background-color: white;
  border-radius: 40px;
  padding: 20px; /*changed*/
  width: 100%; /*changed*/
  height: 190px; /*changed*/
  transition: opacity 0.3 ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.feature-card h3 {
  font-size: 1rem;
}

.feature-card p {
  font-size: 0.8rem;
  font-weight: 500;
  width: 100%;
}

.feature-card:hover {
  opacity: 1;
  cursor: default;
}

.products-section {
  background-color: white;
  text-align: center;
  overflow: visible;
  position: relative;
  padding: 20px 20px 30px; /*changed*/
  display: flex; /*changed*/
  flex-direction: column; /*changed*/
  align-items: center; /*changed*/
  gap: 40px; /*changed*/
}

.products-section-head {
  display: flex;
  flex-direction: column; /*changed*/
  align-items: center;
  justify-content: space-between;
  gap: 20px; /*changed*/
  padding: 0px 40px;
}

.products-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.view-all a {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.view-all i {
  font-size: 0.8rem;
  padding-left: 0.2rem;
}

.view-all:hover {
  text-decoration: underline;
}

/* .products {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
} */
.products {
  display: grid; /*changed*/
  grid-template-columns: repeat(2, 1fr); /*changed*/
  grid-template-rows: auto auto; /*changed*/
  gap: 23px; /*changed*/
}

.product-card {
  position: relative;
  background-color: #f4f4f4;
  border-radius: 40px;
  height: 21vh; /*changed*/
  width: 21vh; /*changed*/
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card-img-div {
  position: relative;
  border-radius: 40px;
  height: 21vh; /*changed*/
  width: 21vh; /*changed*/
  transition: transform 0.3s ease;
  overflow: hidden;
}

.product-card h3 {
  font-size: 0.9rem; /*changed*/
  position: absolute;
  padding: 20px;
}

.product-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  transform: scale(1.3);
}

.product-card:hover {
  transform: translateY(-5px); /*changed*/
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
}

.product-card:hover .card-img-div {
  transform: translateY(70px); /*changed*/
}

.stories-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  overflow: hidden;
  position: relative;
  padding: 35px; /*changed*/
  display: flex;
  flex-direction: column; /*changed*/
  justify-content: space-between;
  gap: 20px; /*changed*/
  align-items: center;
  border-radius: 40px;
}

.stories-section-head {
  display: flex;
  flex-direction: column;
  align-items:center; /*changed*/
  text-align: center; /*changed*/
  padding: 20px;
  gap: 20px; /*changed*/
}

.stories-section h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 1.2em;
  width: 80%;
}

.stories-cta {
  font-weight: 600;
  font-size: 0.9rem;
  width: 80%;
}

.cta {
  font-size: 0.9rem;
  font-weight: 500;
  color: #383838;
  text-decoration: none; 
}

.regular-button {
  padding: 14px 24px;
  margin-top: 0.6em;
  font-size: 1rem;
  background: #595959;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.regular-button:hover {
  transform: scale(1.05);
  background: #000000;
  cursor: pointer;
}

.story-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*changed*/
  grid-template-rows: auto auto;
  width: 100%; /*changed*/
  gap: 20px;
  overflow: hidden;
  align-items: center;
  border-radius: 40px; /*changed*/
}

.story-card {
  background-image: url('resources/paper.jpg');
  background-repeat: no-repeat;   /* prevent tiling */
  background-position: center;    /* center the image */
  background-size: cover;         /* scale to fill */
  height: 290px; /*changed*/
  text-align: left;
  position: relative;
  overflow: hidden;
}

.story-card .card-img-div {
  border-radius: 0px;
  height: 290px; /*changed*/
  width: 100%;
  transition: transform 0.5s ease;
}

.story-card:active .card-img-div {
  transform: translate(-200px); /*changed*/
}

.story-card h3 {
  font-size: 1rem;
  position: absolute;
}
.story-card .story {
  font-size: 0.7rem; /*changed*/
  font-weight: 600;
  position: absolute;
  margin-top: 40px;
}

.story-card h3, .story-card .story {
  padding: 40px 15px; /*changed*/
}

.story-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /*changed*/
  object-fit: cover; /*changed*/
  margin-top: 0px; /*changed*/
  transition: transform 0.3s ease;
}

.story-card:hover img {
  transform: scale(1.02);
  cursor: pointer;  
}

.story-card.more {
  background: #fcfcfd;
  transition: background-color 0.3s ease;
}

.more-story {
  font-size: 0.8rem;
  font-weight: 600;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  transition: transform 0.3s ease;
}

.more-story i {
  font-size: 3em;
}
.italic {
  font-style: italic;
}

.story-card.more:hover {
  background-color: #2e2e2e;
  color: white;
}

.story-card.more:hover .more-story {
  transform: scale(1.05);
  cursor: pointer;
}

.newsletter-section {
  background-color: #f2f2f2;
  background-image: repeating-radial-gradient(circle at 0 0, 
                     rgba(0, 0, 0, 0.05) 0, 
                     rgba(0, 0, 0, 0.05) 1px, 
                     transparent 1px, 
                     transparent 4px);
  background-size: 4px 4px;
  overflow: hidden;
  position: relative;
  padding: 40px;
  display: flex;
  border-radius: 40px;
}

.newsletter-section-head {
  width: 100%; /*changed*/
  display: flex;
  text-align: center; /*changed*/
  flex-direction: column;
  gap: 20px; /*changed*/
  padding: 40px;
  color: black;
  z-index: 3;
  border-radius: 30px;
}

.newsletter-section-head h2 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 1px;
  font-style: italic;
}

.newsletter-section-head p {
  font-weight: 600;
  font-size: 0.9rem;
}

.newsletter-section img {
  position: absolute;
  inset: 0;
  margin-left: 0; /*changed*/
  width: 100%; /*changed*/
  height: 100%; /*changed*/
  object-fit: cover; /*changed*/
  margin-top: 0px; /*changed*/
  transform: rotate(0deg); /*changed*/
  transition: transform 0.5s ease;
}

.newsletter-section:hover img {
  transform: scale(1.05);
}

}
